*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    height: 100vh;
    align-items: center;
    justify-content: center;
     margin: 0;
     padding: 0;
     width: 100vw;
     background-attachment: fixed;
    
}
.header h1{
    margin-left: 477px;
    color:aqua;
}
.header{
    background-color: antiquewhite;
}
.header p{
    margin-left: 430px;
    color: cadetblue;
}
.nav-links{
    justify-content: space-between;
    margin-left: 62rem;
    margin-top: -20px;
    color: blue;
    
}
.main-header h2{
    /* background-color: blue; */
    margin-left: 40rem;
    margin-top: 19px;
}